[package]
name = "pillow-jxl-plugin"
version = "1.2.2"
edition = "2021"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pillow_jxl"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.20.3"
# jpegxl-rs = { version = "0.9.0", default-features = false, features = ["threads"] }
jpegxl-rs = { git = "https://github.com/Isotr0py/jpegxl-rs.git", branch = "plugin", default-features = false, features = ["threads"] }

[features]
# Enables parallel processing support by enabling the "rayon" feature of jpeg-decoder.
vendored = ["jpegxl-rs/vendored"]
dynamic = []
